name: Mida_Final_Build
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Libs
        run: pip install flask flask-socketio pyautogui opencv-python numpy pyinstaller
      - name: EXE
        run: pyinstaller --onefile --windowed --name "Mida_Pro_v1" main.py
      - name: Save
        uses: actions/upload-artifact@v4
        with:
          name: Mida_Product
          path: dist/*.exe
          
